body {
    background-image: url("https://images.unsplash.com/photo-1509624776920-0fac24a9dfda?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
   }

.font-assistant-title{
    font-family: 'Geotica_Four_Open';
    color: white;
    font-weight: bolder;
    font-size:80px;
    text-shadow: 2px 3px 2px black;
}

.font-assistant{
    font-family: 'Assistant', sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 18px;
}


/* .font-lobster{
    font-family: 'Lobster', cursive;
    font-size: 85px;
} */

.font-elsie{
    font-family: 'Elsie Swash Caps', cursive;
    color: white;
}

.thumbnail{
    height: 150px;
    width: auto;
    position:relative;
    top: 50px;
    right: -100px;
    box-shadow: 5px 5px 7px grey;
}



#app{
    height: 100vh;
    width: 100vw; 

}

.introtext{
    font-size: 50px;
    font-weight: 500;
}