body {
    background-image: url("vecteezy_claire_edit_2.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   }

/* .intro{
    font-size: 50px;
    font-weight: 500;
} */



.text-center a{
    color: white;
    font-weight:900;
    font-size:x-large;
}



.intro-text{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    color: white;
    position: absolute;
    top: 20vh;
    left: 40vw;
}


.intro-first-name{
    font-family: 'BebasNeueBold';
    font-weight: normal;
    font-style: normal;
    color: white;
    font-size:100px;
    text-shadow:2px 2px 1px rgb(154, 154, 154);
    position: absolute;
    top: 25vh;
    left: 43vw;    
}

/* .intro-top-border{
    position: absolute;
    top: 22vh;
    right: 35vw;
    color:white;
}

.intro-bottom-border{
    position: absolute;
    top: 48vh;
    left: 39vw;
    color:white;
} */

.intro-last-name{
    font-family: 'BebasNeueBold';
    font-weight: normal;
    font-style: normal;
    color: white;
    font-size:85px;
    text-shadow:2px 2px 1px rgb(154, 154, 154);
    position: absolute;
    top: 38vh;
    left: 44vw;
    
}

.intro-sub-text{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-style: normal;
    color:white;
    position: absolute;
    top: 61vh;
    left: 35vw;
}

.name-mobile{
    display:none;
    
}

/* .font-assistant{
    font-family: 'Assistant', sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 18px;
} */

.nav{
    position: fixed;
}

.nav a{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: white;
    position: relative;
    top: 40vh;
    left: 5vw;
    /* left: 30vw; */
   
}

.nav a:link{
    color: white;
}

.nav a:visited{
    color:white;
}

.nav a:hover{
    color: #BF212E;
}

.nav a:active{
    color: black;
}



.card{
    background-color: #161B2D;
    font-family: 'Raleway', sans-serif;
    color: white;
    top: 70vh;
    left: 20vw;
    opacity: 95%;
    box-shadow: 2px 2px 3px black;
    margin: 10px;
    margin-bottom: 20px;
}

.card-title{
    font-size: 30px;
    color: white;
}

.card-body{
    background-color: #161B2D;
    /* border: 2px solid white; */
    font-size: 20px;
}

.contact-info{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size:smaller;
    
}

.contact-li{
    position: fixed;
    top: 72vh;
    left: 41vw;
    border: 1px solid white;
    background-color:white;
    margin: 1px;
    border-radius: 7px;
    padding: 1px;
}

.contact-gh{
    position: fixed;
    top: 72vh;
    left: 48vw;
    border: 1px solid white;
    background-color:white;
    margin: 1px;
    border-radius: 7px;
    padding: 1px;
}



.portfolio-version{
    font-family: 'Raleway', sans-serif;
    font-size: x-small;
    color: white;
    position:absolute;
    top: 95vh;
    left: 41vw;
}

.projects-title{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: white;
}

.project-container{
    font-family: 'Raleway', sans-serif;
    color: white;
    border: 1px solid white;
    position: absolute;
    top: 70vh;
    left: 22vw;
    background-color: #161B2D;
    opacity: 95%;
    padding: 10px;
    width: 60vw;
}

.project-image{
    margin: 30px;
}

.project-link a{
    color: white;
}

.container-icons {
    text-align: center;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:10px;
}

.box-icon {
    margin-bottom: 10px;
}

#app{
    height: 100vh;
    width: 100vw; 

}

@media screen and (max-width: 480px) {
    body {
        background-image: url("vecteezy_claire_mobile.jpeg");
        background-size:cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .card{
        background-color: #161B2D;
        font-family: 'Raleway', sans-serif;
        color: white;
        top: 20vh;
        left: 30vw;
        opacity: 95%;
        box-shadow: 2px 2px 3px black;
        margin: 10px;
        margin-bottom: 20px;
    }

    .card-title{
        font-size: 15px;
        color: white;
    }
    
    .card-body{
        background-color: #161B2D;
        /* border: 2px solid white; */
        font-size: 12px;
    }
    .contact-info{
        display: flex;
        color: white;
        font-family: 'Raleway', sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
        position: fixed;
        top: 70vh;
        left: 45vw;

        
    }

    .contact-li{
        position:fixed;
        top: 50vh;
        left: 40vw;
    }

    .contact-gh{
        position:fixed;
        top: 50vh;
        left: 60vw;
    }

    .intro-line{
        position: fixed;
        top: 65vh;
        left: 35vw;
        font-size: 18px;
    }

    .name-mobile{
        display:flex;
        position:fixed;
        top: 0vh;
        left: 0vw;
        right: 0vw;
        color:white;
    }

    .nav{
        position: absolute;
    }
    
    .nav a{
        font-family: 'Raleway', sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 25px;
        color: white;
        position: relative;
        top: 30vh;
        left: 5vw;
        z-index: 1;
        /* left: 30vw; */
       
    }

    .project-container{
        border: none;
        position: absolute;
        top: 20vh;
        left: 20vw;
    }

    .projects-title{
        font-size: 20px;
    }

    .container-body{
        font-size: smaller;
    }
  }
