body {
    background-image: url("https://images.pexels.com/photos/593158/pexels-photo-593158.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size:100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
   }

.text-center a{
    color: white;
    font-weight:900;
    font-size:x-large;
}

.font-assistant-title{
    font-family: 'Assistant', sans-serif;
    color: white;
    font-weight: bolder;
    font-size:80px;
    position: absolute;
    top: 20vh;
    left: 41vw;
}

.font-assistant{
    font-family: 'Assistant', sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 18px;
}


/* .font-lobster{
    font-family: 'Lobster', cursive;
    font-size: 85px;
} */

.font-elsie{
    font-family: 'Elsie Swash Caps', cursive;
    color: white;
}

.thumbnail{
    height: 200px;
    width: auto;
    position: absolute;
    top: 30vh;
    left: 40vw;
}



#app{
    height: 100vh;
    width: 100vw; 

}

.introtext{
    font-size: 50px;
    font-weight: 500;
}